$border-color:#DDD;

.css-profile{
  .profile-card {
    text-align: center;
    img{
        height: 300px;
    }
  }

  .profile-link {
    text-decoration: none;
    font-size: 20px !important;
    color: black;
    border:0px !important;
    margin: 10px;
    &:hover{
      color: $lifebook-bg;
    }
  }

  .profile-details{
    border: 1px solid $border-color;
    color: #000;
    p{
      padding: 15px;
      border-bottom: 1px solid $border-color;
      margin-left: 80px;
      margin-right: 80px;
    }
    .profile-item{
      font-size: 1rem;

        .profile-item-label{
          font-weight: bolder;
        }

    }
    p.profile-title{
      font-size: 1.8rem;
      color: white;
      background:$lifebook-bg;
      margin:20px;
      padding: 2px;
    }
   }
}
p.title{
  color: $lifebook-bg;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 1rem;
  border-bottom:1px solid lightgray;
}
