
.form-control{
    border-radius: 0px;
    padding: 2px 4px !important;
    box-shadow: none;
    font-size: 10pt;
  }

input,select{
    height:30px !important;
}

label{
    font-weight: bold;
}
.btn{
    border-radius: 0px !important;
}
