
// Body
$body-bg: #f5f8fa;
$lifebook-bg:#14B1BB;
$lifebook-hover-bg:#198C91;
$lifebook_blue:#478FCA!important;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
